* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(35deg, #e7d4cfc7, #e6060698);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(58, 85, 81);
    background-color: #333333;

    .screen {
        color: #eee4e9;
        margin: 0 10px;
        height: 150px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 800;

    }


    #button-1,
    #button-2,
    #button-3,
    #button-4,
    #button-5,
    #button-6,
    #button-7,
    #button-8,
    #button-9,
    #button-0 {
        color: #FFFFFF;
        background-color: #06A77D;
    }

    #button-percentage,
    #button-square,
    #button-less-than,
    #button-plus,
    #button-minus,
    #button-multiply,
    #button-divide {
        color: #FFFFFF;
        background-color: #052F5F;
    }

    #button-equals {
        color: #000000;
        background-color: #F1A208;
    }

    #button-dot {
        color: #f3efef;
        background-color: #0d633b;
    }

    #button-clear {
        color: #f7f3f3;
        background-color: #8D5A97;
    }

    &.dark {

        background-color: #d9e0d9;

        .screen {
            color: #292F36;

            margin: 0 10px;
            height: 150px;
            width: auto;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 800;
        }


        #button-1,
        #button-2,
        #button-3,
        #button-4,
        #button-5,
        #button-6,
        #button-7,
        #button-8,
        #button-9,
        #button-0 {
            color: #F7FFF7;
            background-color: #41cadf;
        }

        #button-percentage,
        #button-square,
        #button-less-than,
        #button-plus,
        #button-minus,
        #button-multiply,
        #button-divide {
            color: #FFFFFF;
            background-color: #2E8B57;
        }

        #button-equals {
            color: #292F36;
            background-color: #f5d42d;
        }

        #button-dot {
            color: #FFFFFF;
            background-color: #4CB5AE;
        }

        #button-clear {
            color: #FFFFFF;
            background-color: #FF101F;
        }
    }

}

.toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #d6cfcf;
    cursor: pointer;
    z-index: 1;
    

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        right: -15px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #F1E3E4;
        z-index: -1;
    }
    &.active {
        color: #3b3838;
    
        &::before {
            background-color: #1C1D21;
        }
    }    
}


button {
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;

    &:hover {
        transform: scale(1.1);
    }

}